.txtcenter
{

text-align: center;

}

body

{

background-color: aquamarine;
}

img

{
  width: 20%;
  height: 20%; 
align-self: center;



}

.objective

{

    text-align: center;
    font-style: bold;
    


}

.imgcenter

{

display: flex;
justify-content: space-between;


}